<ion-view class="welcome-view" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      <div class="app-copy col col-top">
      	<h1 style="color:white;">Janta Khabar</h1> 
        <h1 class="app-logo"><img class="noRoundCorners" style="height:90px;" src="css/images/ic_launcher.png"></h1>
        <p class="app-tagline">
            We help you share information to the universe and lets you see the things happening in and around the universe.
          </p>
      </div>
    </div>
    <div class="bottom-content row">
      <div class="col col-bottom">
        <a class="google-sign-in button button-block" ng-click="googleSignIn()">
          <span class="btn-copy">Sign in with Google</span>
        </a>
        <a class="button button-block" ng-click="goToIndex()">
          <span class="btn-copy">Skip Sign-in</span>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>